@import './color.sass';

// font-family: 'Montserrat', sans-serif;
// font-family: 'PT Sans Caption', sans-serif;

body {
    padding: 0;
    margin: 0;
    font-family: 'PT Sans Caption', sans-serif;
    background: $mainBlack;
}

a {
    text-decoration: none;
}

p {
    color: #ffffff;
}



header {
    width: 1280px;
    margin: 0 auto;

    .top-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;

        .logo {
            text-transform: uppercase;
            font-size: 40px;
            color: $mainOrange;
            font-weight: bold;
        }

        p {
            color: white;
            font-size: 18px;
        }

        .call {
            border: 1px solid $mainOrange;
            padding: 15px 20px;
            border-radius: 10px;
            font-size: 20px;
        }
    }

    .bottom-header {
        nav {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            a {
                color: $mainOrange;
                font-size: 18px;
            }
        }

    }
}

main {
    .first-block {
        width: 1180px;
        margin: 0 auto;
        height: 90vh;
        position: relative;
        text-align: center;

        h1 {
            color: white;
            font-size: 71px;
            font-weight: bold;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            position: absolute;
            top: 30%;

            span {
                color: $mainOrange;
            }
        }

        .arr-down {
            position: absolute;
            bottom: 50px;
            right: 50%;
        }
    }

    .promo {
        width: 1180px;
        margin: 0 auto;
        height: 100vh;
        display: flex;
        flex-direction: row;
        position: relative;

        .promo__left-block {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 30px;

            h3 {
                color: #ffffff;
                text-align: right;
                text-transform: uppercase;
                font-size: 48px;
                font-family: 'Montserrat', sans-serif;
                margin: 0;
                margin-top: 40px;
                margin-bottom: 207px;
                margin-right: 30px;
                position: relative;

                span {
                    color: $mainOrange;
                }
            }

            h3:after {
                content: "";
                display: block;
                background: $mainOrange;
                width: 5px;
                height: 265px;
                position: absolute;
                top: 10px;
                right: -50px;
            }

            img {
                margin-top: 40px;
            }
        }

        .promo__right-block {
            width: 50%;
            margin: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                line-height: 1.5;

                span {
                    // font-weight: bold;
                    color: $mainOrange;
                }
            }
        }

        .arr-down {
            position: absolute;
            bottom: 50px;
            right: 50%;
        }
    }

    .slider {
        width: 1180px;
        margin: 0 auto;
        height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            color: #ffffff;
            text-align: center;
            text-transform: uppercase;
            font-size: 48px;
            font-family: 'Montserrat', sans-serif;
            position: relative;

            span {
                color: $mainOrange;
            }
        }

        .slider-center {
            width: 90%;
            margin: 0 auto;
            margin-bottom: 180px;

            div {
                a {
                    img {
                        width: 300px;
                        height: 350px;
                        margin-right: 30px;
                    }
                }

            }
        }

        .arr-down {
            position: absolute;
            bottom: 50px;
            right: 50%;
        }
    }

    .price {
        width: 1180px;
        margin: 0 auto;
        height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            color: #ffffff;
            text-align: center;
            text-transform: uppercase;
            font-size: 48px;
            font-family: 'Montserrat', sans-serif;
            position: relative;

            span {
                color: $mainOrange;
            }
        }

        .price__main {
            display: flex;
            justify-content: center;
            align-items: center;

            .left {
                width: 40%;
                display: flex;
                flex-direction: column;
                position: relative;

                button {
                    font-size: 36px;
                    color: #ccc;
                    width: 360px;
                    height: 90px;
                    margin: 10px;
                    background: none;
                    border: none;
                    border-radius: 8px;
                    font-weight: bold;
                    outline: none;
                }

                button:after {
                    content: "";
                    display: block;
                    background: $mainOrange;
                    width: 8px;
                    height: 300px;
                    position: absolute;
                    top: 10px;
                    right: 30px;
                }

                .autofocus {
                    background: #ffffff;
                    color: #000;
                }

            }

            .standart-block {
                width: 60%;

                h5 {
                    color: $mainOrange;
                    font-size: 36px;
                    margin: 0;
                }
            }

            .pro-block {
                width: 60%;
                display: none;

                h5 {
                    color: $mainOrange;
                    font-size: 36px;
                    margin: 0;
                }
            }

            .premium-block {
                width: 60%;
                display: none;

                h5 {
                    color: $mainOrange;
                    font-size: 36px;
                    margin: 0;
                }
            }
        }

        .arr-down {
            position: absolute;
            bottom: 50px;
            right: 50%;
        }
    }

    .contacts {
        width: 1180px;
        margin: 0 auto;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;

        .left {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h3 {
                color: #ffffff;
                text-align: right;
                text-transform: uppercase;
                font-size: 48px;
                font-family: 'Montserrat', sans-serif;
                margin: 0;
                margin-bottom: 243px;
                margin-right: 10px;
                position: relative;

                span {
                    color: $mainOrange;
                }
            }
        }

        .right {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            form {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                height: 370px;

                input {
                    border-radius: 10px;
                    background-color: rgb(255, 255, 255);
                    width: 260px;
                    height: 60px;
                    border: none;
                    margin: 15px;
                    outline: none;
                    font-size: 18px;
                    font-family: 'PT Sans Caption', sans-serif;
                }

                input:nth-child(1) {
                    order: 1;
                }

                input:nth-child(2) {
                    order: 2;
                }

                input:nth-child(3) {
                    order: 3;
                }

                input[placeholder] {
                    text-align: center;
                }

                textarea {
                    border-radius: 10px;
                    background-color: rgb(255, 255, 255);
                    width: 260px;
                    height: 125px;
                    margin: 15px;
                    order: 5;
                    outline: none;
                    font-size: 18px;
                    font-family: 'PT Sans Caption', sans-serif;
                }

                textarea[placeholder] {
                    text-align: center;
                    padding-top: 115px;
                }

                textarea:focus::-webkit-input-placeholder,
                input:focus::-webkit-input-placeholder {
                    color: transparent;
                }

                button {
                    border-radius: 10px;
                    background: $mainOrange;
                    width: 260px;
                    height: 60px;
                    order: 4;
                    margin-left: 15px;
                    margin-top: 15px;
                    border: none;
                    outline: none;
                    font-size: 18px;
                    color: #ffffff;
                    font-family: 'PT Sans Caption', sans-serif;
                    font-weight: bold;
                }

                p {
                    order: 5;
                    margin-left: 15px;
                    width: 270px;
                    font-size: 14px;
                }
            }

        }
    }
}

footer {
    border-top: 3px solid #fff;

    .footer__container {
        width: 1180px;
        height: 130px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-size: 14px;

            a {
                color: $mainOrange;
            }

            a:hover {
                color: #ffffff;
            }
        }
        .social {
            a {
                margin: 5px;
                img {
                    height: 35px;
                }
            }
        }
    }
}



// Слайдер 
.slick-prev:before {
    content: url(/build/img/arr-left.png);
    position: absolute;
    left: -40px;
    top: -25px;
}

.slick-next:before {
    content: url(/build/img/arr-right.png);
    position: absolute;
    left: 25px;
    top: -25px;
}

/* Меню бургер */

.menu {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 40%;
}

.menu__links-item {
    // display: inline-block;
    color: $mainOrange;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 30px;
    cursor: pointer;
}

.menu__links-item:hover {
    color: #ffffff;
}

.menu__links {
    position: absolute;
    display: none;
    top: 5px;
    right: 30px;
    left: 0;
    z-index: 1000;
    // overflow: auto;
}

// ppppppppppppppp

.menu.menu_state_open .menu__links {
    display: flex;
    flex-direction: row;
}

.menu__icon {
    display: inline-block;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer;
}

.menu__icon span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: $mainOrange;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .35s ease-in-out;
}

.menu__icon span:nth-child(1) {
    top: 0px;
}

.menu__icon span:nth-child(2),
.menu__icon span:nth-child(3) {
    top: 13px;
}

.menu__icon span:nth-child(4) {
    top: 26px;
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(3) {
    transform: rotate(-45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}